body, html {
    width: 100vw;
    height: 100vh;
    background-color: dimgray;
}

#welcomePage {
    background-image: url("../img/pexels-ann-h-6188056.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    -webkit-filter: blur(8px);
}