<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Welcome page</title>
</head>
<body>
<div class="bg-image"></div>
<div sec:authorize="!isAuthenticated()" class="container-fluid w-100 h-100 pageContainer">
    <div class="row h-100">
        <div class="col-md-6 col-xs-12 m-auto d-flex justify-content-center">
            <a th:href="@{/login}"><div id="loginButton" class="indexButtons">
                <p class="h-100 d-flex justify-content-center align-items-center text-white">SIGN-IN</p>
            </div></a>
        </div>
        <div class="col-md-6 col-xs-12 m-auto d-flex justify-content-center">
            <a th:href="@{/sign-up}"><div id="signupButton" class="indexButtons">
                <p class="h-100 d-flex justify-content-center align-items-center text-white">SIGN-UP</p>
            </div></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div>

        </div>
    </div>
</div>



<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>